.creepiness-slider {
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 16px;
  padding-top: 40px;
  padding-bottom: 9px;

  @media (min-width: $bp-md) {
    top: 20px;
  }

  .current-creepiness {
    $face-dimension-mobile: 46px;
    $face-dimension: 70px;
    $scale-down-ratio: $face-dimension-mobile/$face-dimension;

    display: inline-block;
    width: $face-dimension;
    height: $face-dimension;
    background-image: url(/_images/buyers-guide/faces/sprite-resized-64-colors.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    transform: scale($scale-down-ratio);

    @media (min-width: $bp-md) {
      transform: scale(1);
    }

    .speech-bubble {
      display: inline-block;
      height: 2em;
      position: absolute;
      top: 1em;
      right: 110%;
      white-space: nowrap;

      $sb-height: 2.5em;

      .text {
        display: inline-block;
        height: $sb-height;
        background: #f4f4f4;
        border-radius: 1em 0 0 1em;
        line-height: 2em;
        padding: 0.25em 0 0.25em 1em;
        color: #777;
      }

      .hook {
        display: inline-block;
        width: 2em;
        height: $sb-height;
        background-image: url(/_images/buyers-guide/icon-bubble.svg);
        background-size: auto $sb-height;
        background-position: -100px 0;
        background-repeat: no-repeat;
        vertical-align: top;
        margin-left: -5px;
      }
    }
  }
}
